services:
  pfidentity_db:
    container_name: pfidentity_db
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: PFIdentity
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123Qq123
    ports:
      - 5432:5432
    volumes:
      - postgres_pfidentity_data:/var/lib/postgresql/data

  project-forum-gateway:
    container_name: project-forum-gateway
    build:
      context: ./Gateway
    ports:
      - "5000:8080"  
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      
#  pfforum_db:
#    container_name: pfforum_db
#    restart: always
#    image: postgres
#    environment:
#      POSTGRES_DB: PFForum
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: 123Qq123
#    ports:
#      - 5434:5432
#    volumes:
#      - postgres_pfforum_data:/var/lib/postgresql/data

  project-forum-identity-serivce:
    container_name: project-forum-identity-serivce
    build:
      context: .
      dockerfile: IdentityService/src/ProjForum.Identity.Api/Dockerfile
    ports:
      - "5001:8080"  
    environment:
      - JwtSettings__SecretKey=$"{JWT_SECRETKEY}"
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__PFIdentity=${DB_CONNECTION_STRING_PFI}
    depends_on:
      - pfidentity_db

volumes:
  postgres_pfidentity_data:
  postgres_pfforum_data:
